;;; Way config. Read via Aero https://github.com/juxt/aero which supports #env

{
 ;; Idenitty
 :app-title "Way demo with Clustered Heatmaps"
 :app-main "com.hyperphor.way.demo.app.init" ;TODO this is also in project.clj and would be good if we could just read it from there.
 :colophon  ["Copyright © " [:a {:href "http://hyperphor.com" :style "color: white;"} "Hyperphor"] " 2020-2024"] ;TODO

 ;; Security
 :dev-mode false
 :basic-auth-creds nil                  ;[name pwd]
 :oauth false

 ;; Customization
 :css ["demo/css/node/@blocknote/mantine/dist/style.css"
       "demo/css/node/@blocknote/core/src/fonts/inter.css"]
 :js ["demo/js/leader-line.min.js"]

 }
